table.table.table-hover.table-condensed
  thead
    tr
      th Номер
      th Название
      th Баланс
      th Списание
      th Заряд
      th Наклоны
      th Cообщение
      th Cеанс связи
      th Управление
  tbody
    each val in devices
      tr
        td
          a(href='/stamp/'+val.device_id)= val.device_id
        td
          form.form-inline(action='/rename/'+val.device_id, method='POST')
            .form-group
              .input-group
                input.input-sm#amount.form-control(type='text', name='name', placeholder='Нет имени', value=val.name)
        td= val.balance_last
        td= val.delta_to_send 
        td= val.batt_last
        td= val.tilts_last
        td= val.message_last
        td= helpers.mmnt(val.session_last) 
        td
          form.form-inline(action='/delta/'+val.device_id, method='POST')
            .form-group
              .input-group
                input.input-sm#amount.form-control(type='text', name='delta', placeholder='Количество')
            button.btn.btn-sm.btn-primary(type='submit') Списать
