div.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
	div.container
		div.navbar-header
			button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a.navbar-brand(href="/")
				| Панель управления печатями
		div.collapse.navbar-collapse
			ul.nav.navbar-nav
				li.active
					a(href="/") Главная
				li
					a(href="/logout") Выход
