extends layout
block content
  div.container
    h1= message

    h2 Печать:
    include ./partials/devices.pug

    h2 Сеансы связи:
    table.table.table-hover.table-condensed
      thead
        tr
          th Дата/время
          th Пришедший баланс
          th Пришедший заряд
          th Пришедшие наклоны
          th Пришедшее сообщение
          th Отправленное списание
      tbody
        each val in sessions
          tr
            td= helpers.mmnt(val.created)
            td= val.balance_last
            td= val.batt_last
            td= val.tilts_last
            td= val.message_last
            td= val.delta_sent

    h2 Списания:
    table.table.table-hover.table-condensed
      thead
        tr
          th Дата/время
          th Списание
      tbody
        each val in transactions
          tr
            td= helpers.mmnt(val.created)
            td= val.delta
